/* global font */
 *{
    font-family: Arial;
}

body {
    background-color: rgb(123, 87, 207);
}

article{
    background-image: linear-gradient(rgb(99, 117, 219) , rgb(8, 96, 131));
    border-radius: 0.75em;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 5px 5px #15084d;
}
header{
    background-image: url("https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
    color: white;
    border-radius: 0.75em;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px #6d0707;
    text-shadow: 2px 2px #6d0707;
}


h3.Yo {
    text-align: center;
    font-size: 150%;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
    background-color: rgb(206, 22, 206);
    text-decoration: none ;
    color: white ;
}

img{
    display: block;
    height: 20%;
    border-style: groove;
    border-width: 20%;
    border-color: rgb(10, 9, 10);
    border-radius: 0.75em;
    box-shadow: 5px;
    margin-bottom: 20px
}

h3.subheading {
    border-bottom: 3px solid rgb(10, 9, 10);

}







